/* .table-condensed{
    font-size: 20px;
} */
img{
    height: 30px;
    width: 30px;
}

h5{
    background-color: black;
    color: white;
    padding: 5px;
}

.tdleft{
    text-align: left;
}

td{
    text-align: center;
}


/* @media only screen and (max-width: 992px) {
    .table{
        width: 600px;

    }

    .table-responsive {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 576px) {
    .table{
        width: 422px;
    }

    .table-responsive {
        font-size: 10px !important;
    }
} */